<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Nouveau message</title>
</head>
<body>
    <h1>Nouveau message</h1>
    <p>Bonjour {{userName}},</p>
    <p>Vous avez reçu un nouveau message de {{senderName}} :</p>
    <p>{{message}}</p>
    <p>Connectez-vous à votre espace pour y répondre.</p>
    <p>Cordialement,<br>L'équipe WIM</p>
</body>
</html> 