<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Nouvelle demande de contact</title>
</head>
<body>
    <h1>Nouvelle demande de contact</h1>
    <p>Bonjour {{providerName}},</p>
    <p>Vous avez reçu une nouvelle demande de contact de la part d'un client.</p>
    <p>Connectez-vous à votre espace pour y répondre.</p>
    <p>Cordialement,<br>L'équipe WIM</p>
</body>
</html> 